<div class="container">
	<div class="jumbotron">
		<div class="welcome-area" *ngIf="showWelcome"><h1 class="text-center">Welcome!</h1></div>
	  <div class="quote-area" *ngIf="quoteData">
	    <h4 class="text-center"><b>Random quote</b></h4>
			<p class="text-center">"{{quoteData.quote}}"</p>
			<p class="text-center">{{quoteData.author}}</p>
	  </div>
		<div class="weather-area" *ngIf="weatherData">
		  <h4 class="text-center"><b>Weather in your localization</b></h4>
			<p>Pogoda w: <b>{{myLocalization.city}}</b></p>
			<p>temperature: {{weatherData.main.temp}}°C<p>
			<p>humidity: {{weatherData.main.humidity}}%</p>
			<p>wind speed: {{weatherData.wind.speed}}m/s</p>
		</div>
		<div class="game-area" *ngIf="gameHistory && gameHistory.length > 0">
			<h4 class="text-center"><b>The game</b></h4>
			<p>The Backend Bot picks random number from 1-1000. The Frontend Bot must guess what the number is, sending the types to the Backend Bot. The Backend Bot suggests whether the number is too small, too big or correct.</p>
			<ul>
				<li *ngFor="let action of gameHistory">
				  <span>{{action.author}} said:</span>
				  <span>{{action.message}}</span>
				</li>
			</ul>
		</div>
		<div class="commands-list" *ngIf="commands && commands.length > 0"><p class="text-center"><b>This is the list of command which you can use for see content.</b></p>
			<ul>
				<li *ngFor="let command of commands">
				  {{command.typeCommands}}
				</li>
			</ul>
		</div>
		<div class="other-area" *ngIf="otherType"><h3 class="text-center">Focus! It's wrong command!</h3>
		</div>
	</div>
</div>
<div class="flex-container start">
	<div class="row">
		<div *ngIf="commands && commands.length > 0" class="flex-item">Type commands from area above and press enter</div>
		<div *ngIf="commands && commands.length < 1 || !commands" class="flex-item">Type help an press enter for see list of commands</div>
 		<div class="flex-item"><input #box (keyup.enter)="onEnter(box.value)" [(ngModel)]="searchValue"></div>
	</div>
</div>

